@using MvcOnlineTicariOtomasyon3.Models.Siniflar
@model List<Cariler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Cari Sayfası</h2>
<br />
<table class="table table-striped">
    <tr>
        <th>Cari ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Mail</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Cariid</td>
            <td>@item.CariAd</td>
            <td>@item.CariSoyad</td>
            <td>@item.CariSehir</td>
            <td>@item.CariMail</td>
            <td><a href="/Cari/Sil/@item.Cariid" class="btn btn-danger">Sil</a></td>
            <td><a href="/Cari/CariGetir/@item.Cariid" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Cari/MusteriSatis/@item.Cariid" class="btn btn-default" style="background-color:lightcoral">Satış Geçmişi</a></td>
        </tr>

    }

</table>
<a href="/Cari/YeniCari/" class="btn btn-info">Yeni Cari Ekle</a>



