@using MvcOnlineTicariOtomasyon3.Models.Siniflar
@model List<FaturaKalem>
@{
    ViewBag.Title = "FaturaDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Departman Detay Sayfası</h2>
<br />

<ol class="breadcrumb mb-4">
    
</ol>
<br />
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Açıklama</th>
        <th>Miktar</th>
        <th>Birim Fiyat</th>
        <th>Tutar</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FaturaKalemid</td>
            <td>@item.Aciklama</td>
            <td>@item.Miktar</td>
            <td>@item.BirimFiyat</td>
            <td>@item.Tutar</td>
           
        </tr>
    }

</table>
<a href="/Fatura/YeniKalem" class="btn btn-default" style="background-color:lightcoral">Yeni Kalem Girişi</a>